#characters{
    display: grid;
    grid-template-columns: repeat(2, 8rem);
    grid-template-rows: repeat(3, 8rem);
    height: 100%;
    width: 100%;
    position: relative;
    left: 50%;
    margin-left: -8rem;
}

img{
    max-width: 8rem;
    max-height: 8rem;
}

#playerSide{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 10%;
    float: left;
}

#mushroomPlayer img{
    max-width: 4rem;
    max-height: 4rem;
    cursor: pointer;
}

#characterPlayer{
    height: 10rem;
    width: 10rem;
    object-fit: contain;
}

#characterPlayer img{
    max-width: 8rem;
    max-height: 8rem;
}

.healthy{
    background-color: green;
}

.hurt{
    background-color: orange;
}

.wounded{
    background-color: red;
}

#bossSide{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    right: 10%;
}

#mushroomBoss img{
    max-width: 6rem;
    max-height: 6rem;
    cursor: pointer;
}

#characterBoss img{
    max-width: 20rem;
    max-height: 20rem;
}

#playerSelect{
    background-image: url(./img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    float: left;
    width: 100%;
    height: 95vh;
    text-align: center;
    font-size: 180%;
}
#battlefield{
    background-image: url(./img/battleBackground.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    float: left;
    width: 100%;
    height: 95vh;
    text-align: center;
}